# Setup file for login form.
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
[Application]
Name="Login Form App"
RedirectPage="page.php"
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
[Database]
Host="localhost"
User="root"
Password="root"
Database="master"
UserTableName="tbUser"
UserCodeField="userCode"
UserPasswordField="userPasswd"
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
[GUI]
AppIcon="gem outline"
UserLabel="User code"
PasswordLabel="Password"
SeparatorLabel="Or"
LoginButtonLabel="Login!"
LoginButtonColor="blue"
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
[Literal]
BadPassword="Bad Password"
NoUserFound="User <strong>%s</strong> not found."
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
[Registration]
Enabled="Y"
Invite="Register Here"
Color="blue inverted"
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
[PasswordReset]
Enabled="Y"
Invite="Reset Password"
Color=""
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# References
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Colors:
#   red, orange, yellow, olive, green, teal, blue, violet, purple
#   pink, brown, grey, black.
# Buttons:
#   Add keyword 'basic' to have only border instead of a filled button.
#   Add keyword 'inverted' to display a button on a dark background.
# Icons:
#   See this page: https://semantic-ui.com/elements/icon.html
#